Xirc-Chat/build/release/wxbase316u_gcc_custom.dll
Xirc-Chat/build/release/wxmsw316u_core_gcc_custom.dll
Xirc-Chat/build/debug/wxmsw316ud_core_gcc_custom.dll
Xirc-Chat/build/debug/wxbase316ud_gcc_custom.dll
Xirc-Chat/build/debug/main.exe
Xirc-Chat/build/release/main.exe
